
<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default">
  <div class="container">
      <a class="navbar-brand" href="#">Monitoring</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-default">
          <div class="navbar-collapse-header">
              <div class="row">
                  <div class="col-6 collapse-brand">
                      <a href="javascript:void(0)">
                          <img src="../../assets/img/brand/blue.png">
                      </a>
                  </div>
                  <div class="col-6 collapse-close">
                      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                          <span></span>
                          <span></span>
                      </button>
                  </div>
              </div>
          </div>
          
          <ul class="navbar-nav ml-lg-auto">
 
              <li class="nav-item">
                <button class="btn btn-icon btn-primary" type="button" (click)="refresh()">
                  <span class="btn-inner--icon">
                    <i class="fas fa-sync-alt"></i>
                  </span>
                    <span class="btn-inner--text">Refresh</span>
                </button>
              </li>
           
          </ul>
          
      </div>
  </div>
</nav>

<section class="loader" *ngIf="prelaoder">
  <div class="dot-container" style="right: 50%;position: absolute;">
    <div class="dot dot1"></div>
    <div class="dot dot2"></div>
    <div class="dot dot3"></div>
  </div>
</section>

<div class=" table-responsive" *ngIf="!prelaoder">
  <table class=" table align-items-center table-flush">
    <thead class=" thead-light">
      <tr>
        <th class=" sort" data-sort="name" scope="col">ID</th>

        <th class=" sort" data-sort="budget" scope="col">Timestamp</th>

        <th class=" sort" data-sort="status" scope="col">Type</th>

        <th scope="col">Kategorie</th>

        <th class=" sort" data-sort="completion" scope="col">
          Sub Kategorie
        </th>

        <th scope="col"></th>
      </tr>
    </thead>

    <tbody class=" list">
      <tr *ngFor="let elm of eventLog">
        <th scope="row">
          <div class=" media align-items-center">
            <div class=" media-body">
              <span class=" name mb-0 text-sm">
                {{elm.Id}}
              </span>
            </div>
          </div>
        </th>

        <td class=" budget">{{elm.TimeStamp | date:'dd.MM.yyyy'}}</td>

        <td>
          <span class=" badge badge-dot mr-4">
            <i class=" bg-info"> </i>

            <span class=" status"> {{elm.EventType}} </span>
          </span>
        </td>

        <td>
          {{elm.EventCategory}}
        </td>
        <td>
          {{elm.EventSubType}}
        </td>
      
        <td class="text-right">
          <div ngbDropdown placement="bottom-right">
            <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
              <div style="width: 500px;padding: 5px; white-space: pre-wrap;">
                {{elm.EventData }}
              </div>
              <!-- <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a> -->
            </div>
          </div>
        </td>

        <!-- <td class=" text-right">
          
          <div placement="left" ngbPopover="This is a very beautiful popover, show some love." class="dropdown no-caret">
            <a
              id="button-basic"
              dropdownToggle
              role="button"
              class="btn btn-sm btn-icon-only text-light dropdown-toggle"
              aria-controls="dropdown-basic"
            >
              <i class=" fas fa-ellipsis-v"> </i>
            </a>

          </div>
        </td> -->
      </tr>

    </tbody>
  </table>

</div>

